* {
    box-sizing: border-box;;
    margin: 0;
}

.header{
    background-image: url("../img/fondo_01.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}

.header > h1{
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
    padding: 0px 5px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.title{
    position: relative;
}

.title > h2{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.logo{
    background-color: aliceblue;
    position: absolute;
    top: -35px;
    right: 25px;
    border-radius: 50%;
    padding: 10px;
}

.menu{
    display: inline-block;
    width: 20%; 
}

.menu > a{
    display: block;
    margin: 20px 5px;
}

.contenido{
    display: inline-block;
    width: 79%;    
}