*{
    box-sizing: border-box;
    margin: 0px;
}

a {
    text-decoration: none;
}

.fondo{
    background-image: url("../img/fondo_01.jpg");
    background-position: center;
    background-size: cover;
    height: 150px;
}

.title > h2{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.logo{
    position: absolute;
}

.menu {
    position: absolute;
    top: 20px;
    right: 10px;
}

.menu > a{
    display: inline-block;
    color: aliceblue;
    text-align: center;
    width: 75px;
    background-color: blue;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
}

.menu >a:hover{
    background-color: darkgreen;
}

.contenido{
    position: absolute;
    left: 100px;
}